@import url('https://fonts.googleapis.com/css2?family=Marck+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

* {
    margin: 0;
    padding: 0;
}

header {
    background-color: #ffffff;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1055' height='175.8' viewBox='0 0 600 100'%3E%3Cg stroke='%23FFF' stroke-width='6' stroke-miterlimit='10' %3E%3Ccircle fill='%23037B79' cx='0' cy='0' r='50'/%3E%3Ccircle fill='%2392DEBA' cx='100' cy='0' r='50'/%3E%3Ccircle fill='%23FFFFD8' cx='200' cy='0' r='50'/%3E%3Ccircle fill='%23CAF2FF' cx='300' cy='0' r='50'/%3E%3Ccircle fill='%236FCCFF' cx='400' cy='0' r='50'/%3E%3Ccircle fill='%23006EB4' cx='500' cy='0' r='50'/%3E%3Ccircle fill='%23037B79' cx='600' cy='0' r='50'/%3E%3Ccircle cx='-50' cy='50' r='50'/%3E%3Ccircle fill='%2353ac9a' cx='50' cy='50' r='50'/%3E%3Ccircle fill='%23ceefc1' cx='150' cy='50' r='50'/%3E%3Ccircle fill='%23ffffff' cx='250' cy='50' r='50'/%3E%3Ccircle fill='%239de0fe' cx='350' cy='50' r='50'/%3E%3Ccircle fill='%233e9cda' cx='450' cy='50' r='50'/%3E%3Ccircle fill='%2300789c' cx='550' cy='50' r='50'/%3E%3Ccircle cx='650' cy='50' r='50'/%3E%3Ccircle fill='%23037B79' cx='0' cy='100' r='50'/%3E%3Ccircle fill='%2392DEBA' cx='100' cy='100' r='50'/%3E%3Ccircle fill='%23FFFFD8' cx='200' cy='100' r='50'/%3E%3Ccircle fill='%23CAF2FF' cx='300' cy='100' r='50'/%3E%3Ccircle fill='%236FCCFF' cx='400' cy='100' r='50'/%3E%3Ccircle fill='%23006EB4' cx='500' cy='100' r='50'/%3E%3Ccircle fill='%23037B79' cx='600' cy='100' r='50'/%3E%3Ccircle cx='50' cy='150' r='50'/%3E%3Ccircle cx='150' cy='150' r='50'/%3E%3Ccircle cx='250' cy='150' r='50'/%3E%3Ccircle cx='350' cy='150' r='50'/%3E%3Ccircle cx='450' cy='150' r='50'/%3E%3Ccircle cx='550' cy='150' r='50'/%3E%3C/g%3E%3C/svg%3E");
    border-radius: 4px;
    display: flex;
    flex-direction: column;
 }

body {
    background-color: #7dffff;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 80 80' width='80' height='80'%3E%3Cpath fill='%23000000' fill-opacity='0.4' d='M14 16H9v-2h5V9.87a4 4 0 1 1 2 0V14h5v2h-5v15.95A10 10 0 0 0 23.66 27l-3.46-2 8.2-2.2-2.9 5a12 12 0 0 1-21 0l-2.89-5 8.2 2.2-3.47 2A10 10 0 0 0 14 31.95V16zm40 40h-5v-2h5v-4.13a4 4 0 1 1 2 0V54h5v2h-5v15.95A10 10 0 0 0 63.66 67l-3.47-2 8.2-2.2-2.88 5a12 12 0 0 1-21.02 0l-2.88-5 8.2 2.2-3.47 2A10 10 0 0 0 54 71.95V56zm-39 6a2 2 0 1 1 0-4 2 2 0 0 1 0 4zm40-40a2 2 0 1 1 0-4 2 2 0 0 1 0 4zM15 8a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm40 40a2 2 0 1 0 0-4 2 2 0 0 0 0 4z'%3E%3C/path%3E%3C/svg%3E");
}

.encabezado {
    display: flex;
    font-family: 'Marck Script', cursive;
    font-size: 500%;
    align-items: center;
    justify-content: space-around;
    height: 100px;
}

.tituloPrincipal {
    color: #3fbbc0;
    text-decoration: none;
    font-size: 2.5rem;
}

.botonTelefono img {
    width: 50px;
    position: fixed;
    bottom: 100px;
    right: 10px;
}

.botonCorreo img {
    width: 50px;
    position: fixed;
    bottom: 200px;
    right: 10px;
}

.botonWhatsApp img {
    width: 50px;
    position: fixed;
    bottom: 300px;
    right: 10px;
}

.botonFacebook img {
    width: 50px;
    position: fixed;
    bottom: 400px;
    right: 10px;
}


.botonInstagram img {
    width: 50px;
    position: fixed;
    bottom: 500px;
    right: 10px;
}

/*Mapa*/
.ubicacion {
    height: 200px;
}

.Mapa {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

/*SECCION GALERIA */

.imagenGaleria {
    height: 200px;
}

.imagenGaleria:hover {
    filter: grayscale(100%);
    
}


.imagenContenedor {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.Imagen1 { 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.TeEsperamos { 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

h1 {
    text-align: center;
    font-family: 'Marck Script', cursive;
    font-size: 500%;
}

h2 { 
    text-align: center;
    font-family: 'Marck Script', cursive;
    font-size: 240%;
}
h3 {
    text-align: center;
    font-family: 'Marck Script', cursive;
    font-size: 235%;
}

h4 {
    text-align: center;
    font-family: 'Marck Script', cursive;
    font-size: 235%;
}
h5{
    text-align: center;
    font-family: 'Marck Script', cursive;
    font-size: 235%;
}

a {
    display: flex;
    text-align:right;
    font-size: 90%;
}

frame {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}


.navGrid {
    display: grid;
    background-color: black(--principal);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 1rem 0 ;
}

.nav_ul { 
    display: grid;
    grid-template-columns:1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows:1fr;
    justify-content: space-around;
    text-decoration: none;
}

.nav_li {
    display: grid;
    font-family: 'Marck Script', cursive;
    font-size: 225%;
    text-decoration: none;
    margin: 1rem;
    text-align:center; 
    justify-content: space-around;
    
}

form {
    display: grid;
    grid-template-columns: 1fr;
    grid-row: 1fr;
    justify-content: center;
    align-items: center;
    text-align: center;
}
i {
    text-align: center;
    font-size: 180%;

}

.contacto form {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows:1fr 1fr 1fr  ;
    text-align: center;
    width: 50vw;
    justify-content: center;
}

.formulario { 
    display: grid;
    grid-template-columns: 1fr ;
    grid-row: 1fr;

}
.campo {
    display: grid;
    grid-template-columns: 1fr;
    grid-row: 1fr;
    width: 50%;
    padding: 10px;
    margin: 10px auto;
}
.tamBotonForm {
    min-width: 130px;
    margin: auto;
    height: 40px;
    color: #fff;
    padding: 5px 10px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    border-radius: 5px;
    border: none;
    background-size: 120% auto;
    background-image: linear-gradient(315deg, #833ab4 0%, #fd1d1d 50%, #fcb045);
}

/* 
footer {
    height: 160px;
    width: 100%;
    background-color: #fff;
    border-top: #444444 2px solid;
    background-image: url(../img/193813.jpg);
    color: rgb(7, 7, 7);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr  ;
    align-items: center;
    justify-content: space-evenly;
}

footer ul li {
    list-style-type: none;
}

footer ul li a {
    margin-left: 15px;
    text-transform: uppercase;
    font-weight: bold;
    color: black;
    border: 1px solid black;
    border-radius: 4px;
}

.footer {
    grid-area: footer;
}

@media screen and (min-width:768px) and (max-width:1023px) {

    .bodygrid {
        display:grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: 
        "header header header header"
        "nav nav nav nav nav nav nav nav nav"
        "main main "
        "footer footer footer footer"
        ;
        gap: 20px;
    }
}

@media screen and (min-width:480px) and (max-width:785px) {

    .bodygrid {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: 
        "header header"
        "nav nav nav nav nav"
        "main main"
        "footer footer footer"
        ;
    }
} */

/* 
@media screen and (max-width:900px) {
    .encabezado nav ul li a {
        display:grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: 
        "header header header header"
        "nav nav nav nav nav nav nav nav nav"
        "main main "
        "footer footer footer footer"
        ;
        gap: 20px;
    }

    .servicios {
        flex-wrap: wrap;
    }

    #contacto {
        flex-direction: column;
        border: none;
    }

    .TeEsperamos {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: 
        "header header header header"
        "nav nav nav nav nav nav nav nav nav"
        "main main "
        "footer footer footer footer"
        ;
        gap: 20px;
    }

    .campo {
        width: 100%;
        padding-left: 0;
        padding-right: 0;
    }
} */

/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/
.contact .info {
    width: 100%;
  }
  .contact .info i {
    font-size: 20px;
    float: left;
    width: 44px;
    height: 44px;
    background: #cda45e;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    transition: all 0.3s ease-in-out;
  }
  .contact .info h4 {
    padding: 0 0 0 60px;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 5px;
    font-family: "Poppins", sans-serif;
  }
  .contact .info p {
    padding: 0 0 0 60px;
    margin-bottom: 0;
    font-size: 14px;
    color: #bab3a6;
  }
  .contact .info .open-hours, .contact .info .email, .contact .info .phone {
    margin-top: 40px;
  }
  .contact .php-email-form {
    width: 100%;
  }
  .contact .php-email-form .form-group {
    padding-bottom: 8px;
  }
  .contact .php-email-form .validate {
    display: none;
    color: red;
    margin: 0 0 15px 0;
    font-weight: 400;
    font-size: 13px;
  }
  .contact .php-email-form .error-message {
    display: none;
    color: #fff;
    background: #ed3c0d;
    text-align: center;
    padding: 15px;
    font-weight: 600;
  }
  .contact .php-email-form .sent-message {
    display: none;
    color: #fff;
    background: #18d26e;
    text-align: center;
    padding: 15px;
    font-weight: 600;
  }
  .contact .php-email-form .loading {
    display: none;
    text-align: center;
    padding: 15px;
  }
  .contact .php-email-form .loading:before {
    content: "";
    display: inline-block;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    margin: 0 10px -6px 0;
    border: 3px solid #cda45e;
    border-top-color: #1a1814;
    -webkit-animation: animate-loading 1s linear infinite;
    animation: animate-loading 1s linear infinite;
  }
  .contact .php-email-form input, .contact .php-email-form textarea {
    border-radius: 0;
    box-shadow: none;
    font-size: 14px;
    background: #0c0b09;
    border-color: #625b4b;
    color: white;
  }
  .contact .php-email-form input::-moz-placeholder, .contact .php-email-form textarea::-moz-placeholder {
    color: #a49b89;
  }
  .contact .php-email-form input::placeholder, .contact .php-email-form textarea::placeholder {
    color: #a49b89;
  }
  .contact .php-email-form input:focus, .contact .php-email-form textarea:focus {
    border-color: #cda45e;
  }
  .contact .php-email-form input {
    height: 44px;
  }
  .contact .php-email-form textarea {
    padding: 10px 12px;
  }
  .contact .php-email-form button[type=submit] {
    background: #cda45e;
    border: 0;
    padding: 10px 35px;
    color: #fff;
    transition: 0.4s;
    border-radius: 50px;
  }
  .contact .php-email-form button[type=submit]:hover {
    background: #d3af71;
  }
  @-webkit-keyframes animate-loading {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  @keyframes animate-loading {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  /*--------------------------------------------------------------
  # Footer
  --------------------------------------------------------------*/
  #footer {
    background: black;
    padding: 0 0 30px 0;
    color: #fff;
    font-size: 14px;
  }
  #footer .footer-top {
    background: #0c0b09;
    border-top: 1px solid #37332a;
    border-bottom: 1px solid #28251f;
    padding: 60px 0 30px 0;
  }
  #footer .footer-top .footer-info {
    margin-bottom: 30px;
  }
  #footer .footer-top .footer-info h3 {
    font-size: 24px;
    margin: 0 0 20px 0;
    padding: 2px 0 2px 0;
    line-height: 1;
    font-weight: 300;
    text-transform: uppercase;
    font-family: "Poppins", sans-serif;
  }
  #footer .footer-top .footer-info p {
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 0;
    font-family: "Playfair Display", serif;
    color: #fff;
  }
  #footer .footer-top .social-links a {
    font-size: 18px;
    display: inline-block;
    background: #28251f;
    color: #fff;
    line-height: 1;
    padding: 8px 0;
    margin-right: 4px;
    border-radius: 50%;
    text-align: center;
    width: 36px;
    height: 36px;
    transition: 0.3s;
  }
  #footer .footer-top .social-links a:hover {
    background: #cda45e;
    color: #fff;
    text-decoration: none;
  }
  #footer .footer-top h4 {
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    position: relative;
    padding-bottom: 12px;
  }
  #footer .footer-top .footer-links {
    margin-bottom: 30px;
  }
  #footer .footer-top .footer-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  #footer .footer-top .footer-links ul i {
    padding-right: 2px;
    color: #cda45e;
    font-size: 18px;
    line-height: 1;
  }
  #footer .footer-top .footer-links ul li {
    padding: 10px 0;
    display: flex;
    align-items: center;
  }
  #footer .footer-top .footer-links ul li:first-child {
    padding-top: 0;
  }
  #footer .footer-top .footer-links ul a {
    color: #fff;
    transition: 0.3s;
    display: inline-block;
    line-height: 1;
  }
  #footer .footer-top .footer-links ul a:hover {
    color: #cda45e;
  }
  #footer .footer-top .footer-newsletter form {
    margin-top: 30px;
    background: #28251f;
    padding: 6px 10px;
    position: relative;
    border-radius: 50px;
    border: 1px solid #454035;
  }
  #footer .footer-top .footer-newsletter form input[type=email] {
    border: 0;
    padding: 4px;
    width: calc(100% - 110px);
    background: #28251f;
    color: white;
  }
  #footer .footer-top .footer-newsletter form input[type=submit] {
    position: absolute;
    top: -1px;
    right: -1px;
    bottom: -1px;
    border: 0;
    background: none;
    font-size: 16px;
    padding: 0 20px 2px 20px;
    background: #cda45e;
    color: #fff;
    transition: 0.3s;
    border-radius: 50px;
  }
  #footer .footer-top .footer-newsletter form input[type=submit]:hover {
    background: #d3af71;
  }
  #footer .copyright {
    text-align: center;
    padding-top: 30px;
  }
  #footer .credits {
    padding-top: 10px;
    text-align: center;
    font-size: 13px;
    color: #fff;
  }